.container {
margin: 5px;
}

h1 {
    color: rgba(78, 78, 216, 0.729);
}

#third span{
visibility: visible 

}

.right p {
visibility: visible;
display: inline;

}

img {
    width:300px;
    height:300px;


}